In [1]:
import tensorflow as tf      
#importing all the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scikeras.wrappers import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# Loaded Needed Data

In [2]:
#21 Columns
#columns_name = ['id','date','price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','condition','grade','sqft_above',
#                'sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15']
dataset =pd.read_csv('D:\\Array Diploma\\Data\\kc_house_data - kc_house_data.csv')
#importing dataset using panda
#to see what my dataset is comprised of
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1. Copy Data

In [3]:
data =dataset.copy()

In [4]:
#Make Drop Data
data.isna().sum()
data = dataset.dropna()

In [5]:
#dropping the id and date column
data=data.drop(['id','date'],axis=1)

In [6]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [52]:
data = data.astype(float)
from sklearn.preprocessing import StandardScaler
Scalar1 = StandardScaler()
data = Scalar1.fit_transform(data)

In [54]:
x = data[:,1:]
y = data[:,0]
print('The Shape Of X Data Is ==> ',x.shape)
print('The Shape Of Y Data Is ==> ',y.shape)
#splitting dataset into training and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

The Shape Of X Data Is ==>  (21613, 18)
The Shape Of Y Data Is ==>  (21613,)

In [55]:
# Create TensorFlow datasets from the training and testing sets
#train_dataset = tf.data.Dataset.from_tensor_slices((x_train, y_train))
#test_dataset = tf.data.Dataset.from_tensor_slices((x_test, y_test))

* Make Normalization For x data only

In [56]:
#x_train = tf.keras.utils.normalize(x_train,axis=0)
#x_train = x_train/255.0
#x_test = tf.keras.utils.normalize(x_test,axis=0)
#x_test = x_test /255.0

In [61]:
data
print('\t\t The X Train Data Is : \n',x_train[:5])
print('---'*30)
print('\t\t The X Test Data : \n',x_test[:5])

		 The X Train Data Is :
 [[-0.39873715  0.50022075 -0.09788525 -0.26719186  0.01053939 -0.08717263
  -0.30575946  2.44429394  0.29191561 -0.48110645  0.69705262 -1.53220807
  -0.21012839  0.4683817   0.91402295 -0.9948767  -1.17680389 -0.35667363]
 [-0.39873715 -0.79823546 -1.30648308 -0.2053853  -0.915427   -0.08717263
  -0.30575946  2.44429394 -1.40958711 -1.09699505 -0.65868104 -0.8853496
  -0.21012839  1.87015159 -0.43195945 -0.23506888 -1.41025258 -0.2259214 ]
 [-0.39873715  0.1756067  -0.48986293 -0.17399916 -0.915427   -0.08717263
  -0.30575946  0.90755354 -0.55883575 -0.79508887  0.47109701  0.06791552
  -0.21012839 -1.02683953 -1.82196593 -1.15819987 -0.52022945 -0.16732095]
 [ 0.67648506  0.50022075  1.39380757 -0.08592482  0.93650577 -0.08717263
  -0.30575946 -0.62918687  1.14266697  1.89791425 -0.65868104  0.57859326
  -0.21012839 -0.83993687  0.67369472  0.22649662  2.06229668  0.04843855]
 [-0.39873715  1.14944885  0.8276176   4.63073639  0.93650577 -0.08717263
  -0.30575946 -0.62918687  1.99341833  1.2699494  -0.65868104  0.95309026
  -0.21012839 -0.35398998 -0.65713184  1.07151652  0.12175445  0.45043759]]
------------------------------------------------------------------------------------------
		 The X Test Data :
 [[-1.47395936 -0.79823546 -0.7076283  -0.32489408  2.78843855 -0.08717263
  -0.30575946 -0.62918687 -0.55883575 -0.43280146 -0.65868104  0.95309026
  -0.21012839  0.87956753  1.17022871 -0.54041221 -0.81204031 -0.40721652]
 [ 0.67648506  1.47406291  2.82017079  0.88675588  0.93650577 -0.08717263
  -0.30575946  0.90755354  3.69492105  3.47990264 -0.65868104  0.57859326
  -0.21012839 -1.3632643   0.54090075  0.35431475  3.27331175  1.03673502]
 [-1.47395936 -1.77207762 -0.69674003 -0.27540055 -0.915427   -0.08717263
  -0.30575946 -0.62918687 -0.55883575 -0.71055514 -0.11638758 -1.94075026
  -0.21012839  0.54314276  0.79854993 -1.06588678 -0.79744977 -0.31015953]
 [-1.47395936 -1.44746357 -1.03427636 -0.30099232 -0.915427   -0.08717263
  -0.30575946  0.90755354  0.29191561 -0.79508887 -0.65868104 -1.49816288
  -0.21012839  0.58052329  0.60441091 -1.01617972 -0.44727673 -0.35044734]
 [ 0.67648506  0.50022075  1.19781874 -0.13288332  0.93650577 -0.08717263
   2.30418496 -0.62918687  1.14266697  1.6805418  -0.65868104  1.05522581
  -0.21012839  1.44027549  1.52747337 -0.44809911  0.66160454  0.09129013]]

* Show Y train & Y Test Data

In [66]:
print('The Y Train Data Is ==> ',list(y_train[:8]))
print('---'*50)
print('The Y Test Data Is  ==> ',list(y_test[:8]))

The Y Train Data Is ==>  [0.10566883557127969, -0.7817591955967205, -0.8402858909038126, 1.115594601102961, 0.6800471011432062, -0.6540893346710174, -0.3135456331399842, -0.7036328627914396]
------------------------------------------------------------------------------------------------------------------------------------------------------
The Y Test Data Is  ==>  [-0.661983633107788, 2.8305628821944953, 0.0596641308880306, 0.2485828589955742, 0.6528253823957215, -0.1502153206550762, -0.5449302424936039, -0.5568914657112487]

# Create Neural Networks

In [94]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(512,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))# Layer 1
model.add(tf.keras.layers.Dense(512,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))# Layer 2
model.add(tf.keras.layers.Dropout(0.2))#Drop 20 % From Data
model.add(tf.keras.layers.Dense(256,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))#Layer 3
model.add(tf.keras.layers.Dense(256,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))# Layer 4
model.add(tf.keras.layers.Dense(128,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))# Layer 5
model.add(tf.keras.layers.Dense(128,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))#Layer 6
model.add(tf.keras.layers.Dense(64,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))#Layer 7
model.add(tf.keras.layers.Dense(32,kernel_initializer='random_normal',bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.relu))# Layer 8
model.add(tf.keras.layers.Dense(16,kernel_initializer=tf.keras.initializers.RandomNormal(mean=0.0,stddev=0.01),bias_initializer=tf.keras.initializers.Zeros(),activation=tf.nn.tanh))#Layer 9
model.add(tf.keras.layers.Dense(1))#Layer 10

* Make Optimizer and Training For Model

In [100]:
optimizer = tf.keras.optimizers.RMSprop(0.002)
model.compile(optimizer=optimizer,loss='mean_squared_error',metrics=['mean_absolute_error','mean_squared_error','accuracy'])

* Model Training

In [96]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(19451, 18)
(19451,)
(2162, 18)
(2162,)

In [101]:
model.fit(x_train,y_train,epochs=20)

Epoch 1/20
608/608 [==============================] - 8s 11ms/step - loss: 0.1071 - mean_absolute_error: 0.1898 - mean_squared_error: 0.1071 - accuracy: 0.0000e+00
Epoch 2/20
608/608 [==============================] - 7s 11ms/step - loss: 0.1041 - mean_absolute_error: 0.1883 - mean_squared_error: 0.1041 - accuracy: 0.0000e+00
Epoch 3/20
608/608 [==============================] - 6s 11ms/step - loss: 0.1011 - mean_absolute_error: 0.1881 - mean_squared_error: 0.1011 - accuracy: 0.0000e+00
Epoch 4/20
608/608 [==============================] - 6s 11ms/step - loss: 0.0982 - mean_absolute_error: 0.1856 - mean_squared_error: 0.0982 - accuracy: 0.0000e+00
Epoch 5/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0975 - mean_absolute_error: 0.1862 - mean_squared_error: 0.0975 - accuracy: 0.0000e+00
Epoch 6/20
608/608 [==============================] - 6s 11ms/step - loss: 0.0954 - mean_absolute_error: 0.1846 - mean_squared_error: 0.0954 - accuracy: 0.0000e+00
Epoch 7/20
608/608 [==============================] - 6s 10ms/step - loss: 0.0939 - mean_absolute_error: 0.1848 - mean_squared_error: 0.0939 - accuracy: 0.0000e+00
Epoch 8/20
608/608 [==============================] - 6s 10ms/step - loss: 0.0954 - mean_absolute_error: 0.1848 - mean_squared_error: 0.0954 - accuracy: 0.0000e+00
Epoch 9/20
608/608 [==============================] - 6s 11ms/step - loss: 0.0913 - mean_absolute_error: 0.1821 - mean_squared_error: 0.0913 - accuracy: 0.0000e+00
Epoch 10/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0912 - mean_absolute_error: 0.1828 - mean_squared_error: 0.0912 - accuracy: 0.0000e+00
Epoch 11/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0904 - mean_absolute_error: 0.1820 - mean_squared_error: 0.0904 - accuracy: 0.0000e+00
Epoch 12/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0891 - mean_absolute_error: 0.1811 - mean_squared_error: 0.0891 - accuracy: 0.0000e+00
Epoch 13/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0869 - mean_absolute_error: 0.1801 - mean_squared_error: 0.0869 - accuracy: 0.0000e+00
Epoch 14/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0875 - mean_absolute_error: 0.1796 - mean_squared_error: 0.0875 - accuracy: 0.0000e+00
Epoch 15/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0860 - mean_absolute_error: 0.1795 - mean_squared_error: 0.0860 - accuracy: 0.0000e+00
Epoch 16/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0830 - mean_absolute_error: 0.1772 - mean_squared_error: 0.0830 - accuracy: 0.0000e+00
Epoch 17/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0837 - mean_absolute_error: 0.1773 - mean_squared_error: 0.0837 - accuracy: 0.0000e+00
Epoch 18/20
608/608 [==============================] - 7s 12ms/step - loss: 0.0804 - mean_absolute_error: 0.1767 - mean_squared_error: 0.0804 - accuracy: 0.0000e+00
Epoch 19/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0830 - mean_absolute_error: 0.1780 - mean_squared_error: 0.0830 - accuracy: 0.0000e+00
Epoch 20/20
608/608 [==============================] - 7s 11ms/step - loss: 0.0808 - mean_absolute_error: 0.1757 - mean_squared_error: 0.0808 - accuracy: 0.0000e+00

In [102]:
#model.fit(x_train, y_train, epochs=20,validation_split = 0.2, verbose=0)
accuracy_evaluate=model.evaluate(x_train)
loss_evaluate = model.evaluate(x_test)
print('The Lost Evluate Is ==> ',loss_evaluate)
print('The Accuarcy Evluate Is ==> ',accuracy_evaluate)

608/608 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - mean_absolute_error: 0.0000e+00 - mean_squared_error: 0.0000e+00 - accuracy: 0.0000e+00
68/68 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - mean_absolute_error: 0.0000e+00 - mean_squared_error: 0.0000e+00 - accuracy: 0.0000e+00
The Lost Evluate Is ==>  [0.0, 0.0, 0.0, 0.0]
The Accuarcy Evluate Is ==>  [0.0, 0.0, 0.0, 0.0]

In [104]:
from sklearn.metrics import confusion_matrix
#Calculating Prediction
from sklearn.metrics import r2_score
y_pred1 = model.predict(x_test)
print('The Real Value Before Applying The Model Is ==>  ',list(y_test[:5]))
print('Predicted Value for Ridge Regression is ==> ' , list(y_pred1[:5]))
print('***'*30)
R_Score = r2_score(y_test,y_pred1)
print('The Accuracy Of The Program Is ==> ',R_Score*100)

The Real Value Before Applying The Model Is ==>   [-0.661983633107788, 2.8305628821944953, 0.0596641308880306, 0.2485828589955742, 0.6528253823957215]
Predicted Value for Ridge Regression is ==>  [array([-0.5941426], dtype=float32), array([3.5377085], dtype=float32), array([-0.06009632], dtype=float32), array([0.1409198], dtype=float32), array([0.24749613], dtype=float32)]
******************************************************************************************
The Accuracy Of The Program Is ==>  88.70064001898102

# Save Model

In [105]:
model.save('MultiVariablesLR_with_keras.model')

INFO:tensorflow:Assets written to: MultiVariablesLR_with_keras.model\assets