In [3]:
T1 = ('Ahmed','Mostafa',True,100 , 65.8)
print(T1)
print(T1[0])
print(T1[1])
print(T1[3])
T2 = list(T1)
T2[0] = 'Ali'
T3 =tuple(T2)
print(T2)
print(T3)

('Ahmed', 'Mostafa', True, 100, 65.8)
Ahmed
Mostafa
100
['Ali', 'Mostafa', True, 100, 65.8]
('Ali', 'Mostafa', True, 100, 65.8)

In [6]:
#For Loop Example
#Looping Over List Items
fruits = ['apple','banana','cherry'] 
for i in fruits:
    print('The Fruit Is ==> ',i)
print('***'*50)
#Looping For String
for x in 'banana':
    print('The Character Is ==> ',x)
print('***'*50)
fruits_1 = ['apple','banana','cherry','orange']
for i in fruits_1:
    print('The Fruit Is ==> ',i) 
    if i == 'banana':
        break
print('***'*50)
for j in fruits_1:
    if j == 'banana':
        break
    print(j)
print('***'*50)
for j in fruits_1:
    if j == 'banana':
        continue
    print(j)
print('***'*50)

The Fruit Is ==>  apple
The Fruit Is ==>  banana
The Fruit Is ==>  cherry
******************************************************************************************************************************************************
The Character Is ==>  b
The Character Is ==>  a
The Character Is ==>  n
The Character Is ==>  a
The Character Is ==>  n
The Character Is ==>  a
******************************************************************************************************************************************************
The Fruit Is ==>  apple
The Fruit Is ==>  banana
******************************************************************************************************************************************************
apple
******************************************************************************************************************************************************
apple
cherry
orange
******************************************************************************************************************************************************

In [10]:
for x in range (5):
    print(x)
print('**'*20)
for x in range(2,30,3):
    print(x)
print('**'*20)

0
1
2
3
4
****************************************
2
5
8
11
14
17
20
23
26
29
****************************************

In [11]:
#Nestead Loop 
adj=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adj:
    for i in fruits:
        print('The Adj Is ==> ',x, ' and fruit is ==> ',i)

The Adj Is ==>  red  and fruit is ==>  apple
The Adj Is ==>  red  and fruit is ==>  banana
The Adj Is ==>  red  and fruit is ==>  cherry
The Adj Is ==>  big  and fruit is ==>  apple
The Adj Is ==>  big  and fruit is ==>  banana
The Adj Is ==>  big  and fruit is ==>  cherry
The Adj Is ==>  tasty  and fruit is ==>  apple
The Adj Is ==>  tasty  and fruit is ==>  banana
The Adj Is ==>  tasty  and fruit is ==>  cherry

In [14]:
#Nestead Loop 
adj=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adj:
    for i in fruits:
       pass

In [15]:
i= 1
while i<=5:
    print(i)
    if i ==3:
        break
    i+=1

1
2
3

In [17]:
i= 1
while i<=5:
    i+=1
    if i ==3:
        continue
    print(i)

2
4
5
6

In [3]:
for i in range (1,101):
    if i % 3 == 0:print ('Fizz')   
    elif i% 5 == 0:print('Buzz')   
    elif i % 3 == 0 and i % 5 == 0 :print('FizzBuzz')     
    else :print('The Number Is Not Divided Over 3 and 5  ==> ',i)

The Number Is Not Divided Over 3 and 5  ==>  1
The Number Is Not Divided Over 3 and 5  ==>  2
Fizz
The Number Is Not Divided Over 3 and 5  ==>  4
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  7
The Number Is Not Divided Over 3 and 5  ==>  8
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  11
Fizz
The Number Is Not Divided Over 3 and 5  ==>  13
The Number Is Not Divided Over 3 and 5  ==>  14
Fizz
The Number Is Not Divided Over 3 and 5  ==>  16
The Number Is Not Divided Over 3 and 5  ==>  17
Fizz
The Number Is Not Divided Over 3 and 5  ==>  19
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  22
The Number Is Not Divided Over 3 and 5  ==>  23
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  26
Fizz
The Number Is Not Divided Over 3 and 5  ==>  28
The Number Is Not Divided Over 3 and 5  ==>  29
Fizz
The Number Is Not Divided Over 3 and 5  ==>  31
The Number Is Not Divided Over 3 and 5  ==>  32
Fizz
The Number Is Not Divided Over 3 and 5  ==>  34
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  37
The Number Is Not Divided Over 3 and 5  ==>  38
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  41
Fizz
The Number Is Not Divided Over 3 and 5  ==>  43
The Number Is Not Divided Over 3 and 5  ==>  44
Fizz
The Number Is Not Divided Over 3 and 5  ==>  46
The Number Is Not Divided Over 3 and 5  ==>  47
Fizz
The Number Is Not Divided Over 3 and 5  ==>  49
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  52
The Number Is Not Divided Over 3 and 5  ==>  53
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  56
Fizz
The Number Is Not Divided Over 3 and 5  ==>  58
The Number Is Not Divided Over 3 and 5  ==>  59
Fizz
The Number Is Not Divided Over 3 and 5  ==>  61
The Number Is Not Divided Over 3 and 5  ==>  62
Fizz
The Number Is Not Divided Over 3 and 5  ==>  64
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  67
The Number Is Not Divided Over 3 and 5  ==>  68
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  71
Fizz
The Number Is Not Divided Over 3 and 5  ==>  73
The Number Is Not Divided Over 3 and 5  ==>  74
Fizz
The Number Is Not Divided Over 3 and 5  ==>  76
The Number Is Not Divided Over 3 and 5  ==>  77
Fizz
The Number Is Not Divided Over 3 and 5  ==>  79
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  82
The Number Is Not Divided Over 3 and 5  ==>  83
Fizz
Buzz
The Number Is Not Divided Over 3 and 5  ==>  86
Fizz
The Number Is Not Divided Over 3 and 5  ==>  88
The Number Is Not Divided Over 3 and 5  ==>  89
Fizz
The Number Is Not Divided Over 3 and 5  ==>  91
The Number Is Not Divided Over 3 and 5  ==>  92
Fizz
The Number Is Not Divided Over 3 and 5  ==>  94
Buzz
Fizz
The Number Is Not Divided Over 3 and 5  ==>  97
The Number Is Not Divided Over 3 and 5  ==>  98
Fizz
Buzz

In [22]:
var1 = str(input())
var2 =str(input())
if var1[0] == var2 [0]: print('True')
else : print('False')

False

In [24]:
def circle_area(r):
    pi = 3.14
    return pi * (r ** 2)
num = float(input())
circle_area(num)

475.0506000000001

In [5]:
l1=[]
l2=[]
l4=[]
for i in range (1,101):
    if i % 3 == 0:l1.append(i)
    elif i% 5 == 0:l2.append(i)
    elif i % 3 == 0 and i % 5 == 0 :
        l3=[]
        l3.append(i)
    else :l4.append(i)
print('***'*50)
print('The List Of Numbers IS Divided To 3 Is  ==> ',l1)
print('The List Of Numbers IS Divided To 5 Is  ==> ',l2)
print('The List Of Numbers IS Divided To 3 & 5 Is  ==> ',l3)
print('The List Of Numbers IS Not Divided To 3 & 5 Is  ==> ',l4)

******************************************************************************************************************************************************
The List Of Numbers IS Divided To 3 Is  ==>  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
The List Of Numbers IS Divided To 5 Is  ==>  [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]
The List Of Numbers IS Divided To 3 & 5 Is  ==>  []
The List Of Numbers IS Not Divided To 3 & 5 Is  ==>  [1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [6]:
factorial =1
num =int(input())
for i in range (1 ,num+1):
    factorial =factorial * i
print('The Facorial Number ( ', num , ' )','is ==> ',factorial)

The Facorial Number (  5  ) is ==>  120

In [7]:
nterms = int(input("Enter a number: ")) 
n1 = 0
n2 = 1 
print("\n The fibonacci sequence is :")
print(n1, ",", n2, end=", ") 
for i in range(2, nterms):
  next = n1 + n2
  print(next, end=", ") 
  n1 = n2
  n2 = next

 The fibonacci sequence is :
0 , 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [10]:
def fibon(n):
    a=b=1
    result=[]
    for i in range(n):
        result.append(a)
        a,b=b,a+b
    return result

num10=int(input('Please Enter The Fibon Number : '))
print('The List Is ==>',fibon(num10))

The List Is ==> [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [11]:
y = lambda x , function1 : x + function1(x)
print(y ( 2 , lambda x : x * x ))

6